/*--------------------------
    ROOT: COLOR VARIABLE
----------------------------*/
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    
    --body-font: "Poppins",sans-serif;
    --hidding-font: "Poppins",sans-serif;
    --alt-font: "Poppins",sans-serif;
    --body-font-size:15px;
    --body-font-weight:400;
    --hidding-font-weight:600;
    
    --body-font-color: #656565;
    --hidding-font-color: #222222;
    
    --primary-color:#656565;
    --secondary-color: #222222;
    
    --primary-hover-color:#ffffff;
    --primary-hover-bg:#1A5468;
    
    --secondary-hover-color:#1A5468;
    --secondary-hover-bg:#ffffff;
    
    --menu-color:#ffffff;
    --menu-sticky-color:#222222;
    --menu-font-weight:600;
    --menu-case:capitalize;
    --home-button-color:#222222;
    --home-button-hover-color:#1A5468;
    
    --a-color: #222222;
    --a-hover: #1A5468;
    
    --color-white: #ffffff;
    --color-blue: #1A5468;
    
    --main-bg-color: #ffffff;
    --alt-bg-color: #f7faff;
    --dark-bg: #222222;
    --blue-bg: #1A5468;
    
    --border-color: #dddddd;
    --box-shadow-color: rgba(0,0,0,.08);
    
    --radius: 5px;
    --radius-50-percent: 50%;
}